
.footer {
    margin-top: 120px;
    padding: 50px 0;
    background: #0a0835;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-line {
    margin: 0;
    font-size: 22px;
    color: #e5e4f6;
    font-weight: 300;
}

.footer-line strong {
    font-weight: 600;
}

.icon-mes {
    width: 30px;
    height: 20px;
}

.icon-loc {
    width: 15px;
    height: 20px;
}

.socials {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-box {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4f4b70;
    border-radius: 10px;
    font-size: 22px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.icon-social {
    width: 30px;
    height: 30px;
}
.social-box:hover {
  box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
}