.event-card {
    width: 90%;
    margin: 120px auto;
    background: #0d0d45;
    border-radius: 22px;
    display: flex;
    overflow: hidden;
    color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.event-left {
    width: 40%;
    padding: 40px;
}

.event-left h2 {
    margin-top: 0;
    color: #ff4d8d;
    font-size: 22px;
    font-weight: 600;
}

.event-left .date {
    font-size: 18px;
    margin: 10px 0 25px 0;
    opacity: 0.9;
}

.event-left p {
    line-height: 1.6;
    font-size: 18px;
    opacity: 0.95;
}

.event-right {
    width: 60%;
}

.event-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}