.projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin-top: 100px;
}

.projects-list-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 100px;
}

.project {
  background: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}

.project h3 {
  margin-top: 0;
  text-align: center;
}

.project p {
  color: #868686;
  font-size: 0.95rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.project img {
  display: block;
  margin: auto;
}